body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-link{
  margin-left: 40px;
}
#supportHero{
  background-color: rgba(92, 47, 198, 0.918);
  color: white;
}
#supportHero a{
  color: white;
}
#supportHero input{
  padding: 20px 100px;
  width: 100%;
  border-radius: 10px;
  border: none;
  font-size: 20px;
}
#supportWrapper{
  display: flex;
  
  justify-content: space-evenly;
  
  margin: 0 150px;
  
}